#gallery {
	width: 500px;
	height: 500px;
	margin: 40px auto;
	background-color: #95D5D6;
	text-align: center;
}
#gallery_list {
	overflow: auto;
	width: 400px;
	margin-left: 20px;
	margin-bottom: 20px;
	list-style: none;
	text-align: left;
}

#gallery_list li {
	float: left;
	margin-right: 20px;
}
#gallery_list li a {
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.preview_image {
	display: block;
	width: 400px;
	margin: 20px auto;
}
#picTitle {
	color: white;
	font-size: 16px;
}