* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style-type: none;
}

/*主体部分*/
#content {
    position : absolute;
    overflow : hidden;
    width    : 60%;
    height   : 60%;
}
.content-wrap {
	position: relative;
}
.content-wrap>li {
	float: left;
	overflow: hidden;
	position: relative;
}


.charector {
    width: 151px;
    height: 291px;
    background-image: url("../images/boy.png");
    background-position: 0 -291px;
    background-repeat: no-repeat;
    position: absolute;
    left: 6%;
}
/*==========================
      增加精灵动画 start
==========================*/
.slowWalk {
    animation: person-walk 950ms infinite;
    -moz-animation: person-walk 950ms infinite;
    -webkit-animation: person-walk 950ms infinite;
    -webkit-animation-timing-function: steps(1, start);
    -moz-animation-timing-function: steps(1, start);
}
@-webkit-keyframes person-walk {
    0%  {
        background-position: 0 -291px;
    }
    25% {
        background-position: -602px -0px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: 0 -291px;
    }
}
@-moz-keyframes person-walk {
    0%  {
        background-position: 0 -291px;
    }
    25% {
        background-position: -151px -291px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: 0 -291px;
    }
}
/*增加精灵动画 end*/

/* 小男孩停止往前走 start */
.pauseWalk {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
}
/* 小男孩停止往前走 end */

