* {
	margin: 0;
	padding: 0;
}
body,html {
	width: 100%;
	height: 100%;
	background-color: #E6FDD1;
	font-size: 20px;
}
#container {
	width: 1000px;
	margin: auto;
	background-color: white;
}
#display-area {
	float: left;
	width: 440px;
	height: 750px;
	box-sizing: border-box;
	padding: 20px;
	background-color: white;
}
#control-area {
	float: left;
	width: 240px;
	height: 750px;
	box-sizing: border-box;
	padding: 20px;
	background-color: white;
}
#grids {
	border:1px solid #95E6F5;
}
#grids td {
	width: 40px;
	height: 40px;
	border:1px solid #B0AEAE;
}
#next {
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
}
#next td {
	width: 40px;
	height: 40px;
	border:1px solid #B0AEAE;
}
.score {
	margin-bottom: 20px;
}
.btn {
	margin-top: 260px;
}
.clear {
	width: 90px;
	height: 40px;
	background-color: #31C0F6;
	color: black;
	font-size: 17px;
	line-height: 40px;
	font-family: 微软雅黑;
	border: none;
	outline: none;
}
.stop {
	width: 190px;
	height: 40px;
	margin-top: 15px;
	background-color: #62D88D;
	color: white;
	font-size: 20px;
	border: none;
	outline: none;
	font-family: 微软雅黑;
}
.highest {
	font-size: 15px;
	color: #898888;
}