.top {
			width: 800px;
			height: 100px;
			background-color: #1BB34F;
			margin: 0 auto;
		}
		.head {
			width: 400px;
			height: 100px;
			margin: 0 auto;
			background-color: #D30FEB;
		}
		.main {
			width: 800px;
			height: 400px;
			background-color: #31B0B1;
			margin: 0 auto;
		}
		.left {
			width: 400px;
			height: 400px;
			background-color: #C4BA39;
			float: left;
		}
		.right {
			width: 400px;
			height: 400px;
			background-color: #CB6F6F;
			float:right;
		}
		.foot {
			width: 800px;
			height:100px;
			background-color: #9A3D3D;
			margin: 0 auto;
		}
	